.miniBoardContainer {
  display: block;
  margin: 0 auto;
  min-width: 30rem;
  width: 100%;
  padding: 2rem;
  background-color: white;
  border-radius: 1rem;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

.bookMark {
  width: 2rem;
  height: 2rem;
}

.titleContainer {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.miniBoardContent {
  display: flex;
  justify-content: space-between;
}

.miniBoardTitle {
  font-weight: 700;
  font-size: 1.7rem;
}

.miniBoardContainer:hover {
  box-shadow: 0 0.2rem 1.4rem 0.2rem rgba(0, 0, 0, 0.102);
}

.action {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.miniBoardHr {
  margin: 1.5rem 0;
  border: 1px solid lightgray;
}

.miniBoardWriter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.action,
.date,
.miniWriterName {
  font-size: 1.2rem;
  font-weight: 400;
}
