.navbar {
  border: 0.1rem solid black;
  background: #f4f5f6;
  position: fixed;
  z-index: 997;
  top: 0;
  width: 100%;
  height: 8rem;
  font-size: 2.5rem;
  text-align: center;
}

.navbarContainer {
  width: 100%;
  height: 100%;
  max-width: 60rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.navbarTitle {
  margin: 0 auto;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.beforeBtn {
  cursor: pointer;
  width: 3.6rem;
  border: 0;
  background-color: transparent;
}

.backImage {
  width: 1rem;
  height: 1.5rem;
}

.profileImage {
  width: 3.6rem;
  height: 3.6rem;
  object-fit: cover;
  border-radius: 50%;
}

::-webkit-scrollbar {
  display: none;
}

body {
  /* 익스플로러 스크롤바 옵션 */
  -ms-overflow-style: none;
  /* 파이어폭스 스크롤바 옵션 */
  scrollbar-width: none;
}

.space {
  width: 3.6rem;
  height: 0.1rem;
}

.userSetting {
  width: 3.6rem;
  height: 3.6rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.settingList {
  cursor: pointer;
  display: none;
  width: 15rem;
  flex-direction: column;
  position: absolute;
  top: 2rem;
  right: 3rem;
  border-radius: 2rem;
}

.userSetting:hover .settingList {
  display: flex;
}

.settingList:hover {
  display: flex;
}

.setting {
  cursor: pointer;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  background-color: lightgray;
  font-size: 1.2rem;
}

.profileUpdate:hover {
  background-color: gray;
}

.passwordUpdate:hover {
  background-color: gray;
}

.logOut:hover {
  background-color: gray;
}

.logOut {
  border: 0;
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
}
