.detailBoard {
  width: 100%;
}

.detailBoardTitle {
  font-size: 2.4rem;
  font-weight: 800;
}

.updateBoard,
.deleteBoard {
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0.1rem 1rem;
  font-size: 1.3rem;
  color: black;
  cursor: pointer;
  border: 0.1rem solid black;
  height: 3rem;
  box-sizing: border-box;
}

.boardButton {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.boardHeaderBottom {
  display: flex;
  justify-content: space-between;
}

.writer {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
}

.postWriteDate {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 400;
}

hr {
  margin: 2rem 0;
  width: 100%;
}

.boardImageContainer {
  margin-top: 2rem;
}

.boardImage {
  width: 100%;
  background-color: lightgrey;
  border-radius: 1rem;
}

.boardDetailContent {
  word-break: break-all;
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.boardAction {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.readCount,
.commentCount {
  background-color: lightgrey;
  width: 8rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 1rem;
}
