.postsMain {
  max-width: 60rem;
  width: 100%;
  height: calc(100vh - 100px);
}

.profileWrapper {
  margin-top: 2rem;
  width: 100%;
  height: calc(100vh - 240px);
  overflow-y: scroll;
  max-width: 70rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.postsTitle {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
}

.writeContainer {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.writeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 10rem;
  height: 3rem;
  color: white;
  font-size: 1.3rem;
  background-color: var(--button-disabled);
  border-radius: 2rem;
}

.writeBtn:hover {
  background-color: var(--button-enabled);
}

.miniBoardContainer {
  display: block;
  margin: 0 auto;
  width: 100%;
  background-color: white;
  padding: 2rem;
  border-radius: 2rem;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

.miniBoardContent {
  display: flex;
  justify-content: space-between;
}

.action {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

hr {
  margin: 1rem 0;
}

.miniBoardWriter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.action,
.date,
.miniWriterName {
  font-size: 1.2rem;
  font-weight: 400;
}

.miniWriterImage {
  border-radius: 50%;
  object-fit: cover;
  border: 0.1rem solid black;
}

.target {
  width: 100%;
  height: 30px;
}
