.detailBoard {
  width: 100%;
}

.detailBoardTitle {
  font-size: 2.4rem;
  font-weight: 800;
}

.boardHeaderBottom {
  display: flex;
  justify-content: space-between;
}

.writer {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
}

.postWriteDate {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 400;
}

hr {
  margin: 2rem 0;
  width: 100%;
}

.boardImageContainer {
  margin-top: 2rem;
}

.boardImage {
  width: 100%;
  background-color: lightgrey;
  border-radius: 1rem;
}

.boardDetailContent {
  word-break: break-all;
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
}
